@import 'settings';
@import 'normalize';
// @import 'foundation';

// Or selectively include components
 @import
//   'foundation/components/accordion',
'foundation/components/alert-boxes',
//   'foundation/components/block-grid',
//   'foundation/components/breadcrumbs',
'foundation/components/button-groups',
'foundation/components/buttons',
//   'foundation/components/clearing',
//   'foundation/components/dropdown',
//   'foundation/components/dropdown-buttons',
'foundation/components/flex-video',
'foundation/components/forms',
'foundation/components/grid',
//   'foundation/components/inline-lists',
'foundation/components/joyride',
//   'foundation/components/keystrokes',
// 'foundation/components/labels',
//   'foundation/components/magellan',
//   'foundation/components/orbit',
//   'foundation/components/pagination',
//   'foundation/components/panels',
'foundation/components/pricing-tables',
//   'foundation/components/progress-bars',
'foundation/components/reveal',
'foundation/components/side-nav',
//   'foundation/components/split-buttons',
//   'foundation/components/sub-nav',
//   'foundation/components/switch',
//   'foundation/components/tables',
//   'foundation/components/tabs',
//   'foundation/components/thumbs',
'foundation/components/tooltips',
'foundation/components/top-bar',
'foundation/components/type',
'foundation/components/offcanvas',
'foundation/components/visibility';

//////// Custom Code

// New Colours

$invisible: rgba(0, 0, 0, 0);
$near-black: rgba(0, 0, 0, .6);
$white: #fff;
$near-white: rgba(240, 240, 240, .6);

// Fixes

html {
	-ms-touch-action: none;
}

body {
	overflow: hidden; // this is important to prevent the whole page to bounce
}

html,
body {
	height: 100% !important;
	margin: 0;
}

//	Remove Focus Outline When Clicking/Tapping and element
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

[contenteditable='true']:focus {
	outline: none;
}

// Custom Styling

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'adelle', serif;
	font-style: italic;
	font-weight: 700;
}

h2,
h4 {
	color: $primary-color;
}

ul,
ol {
	list-style: none;
	margin: 0;
}

.grabbing {
	cursor: url('../img/grabbing.png') 8 8, move;
}

noscript {
	color: $white;
	font-size: 1.25rem;
	background: #222;
}

.rbrk {
	display: none;
}

// Font Awesome 4.0.3 by @davegandy

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-file-o:before {
	content: '\f016';
}

.fa-angle-double-down:before {
	content: '\f103';
}

.fa-angle-down:before {
	content: '\f107';
}

.fa-building-o:before {
	content: '\f0f7';
}

.fa-fire:before {
	content: '\f06d';
}

.fa-sun-o:before {
	content: '\f185';
}

.fa-moon-o:before {
	content: '\f186';
}

.fa-user:before {
	content: '\f007';
}

.fa-lightbulb-o:before {
	content: '\f0eb';
}

.fa-gamepad:before {
	content: '\f11b';
}

.fa-rocket:before {
	content: '\f135';
}

.fa-keyboard-o:before {
	content: '\f11c';
}

.fa-flash:before {
	content: '\f0e7';
}

.fa-pencil:before {
	content: '\f040';
}

.fa-thumbs-o-up:before {
	content: '\f087';
}

.fa-eye:before {
	content: '\f06e';
}

.fa-angle-left:before {
	content: '\f104';
}

.fa-angle-right:before {
	content: '\f105';
}

// Owl Carousel Controls

.owl-controls {
	margin-bottom: 10px;
	text-align: center;
}

.owl-page {
	display: inline-block;
	zoom: 1;
}

.owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	opacity: .5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: $primary-color;
}

.owl-page.active span,
.owl-page:hover span {
	opacity: 1;
}

// Coming Soon Page

.main-cs {
	width: 100%;
	height: 100%;
	background: url('../img/geometry.png') repeat;
	padding: .5rem 0 0;


	.cs-heading {
		background: $near-white;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	}

	h1,
	h4 {
		color: $primary-color;
	}

	h4 {
		font-style: normal;
	}

	img {
		display: none;
		width: 15%;
	}

	.tt {
		color: $near-black;
		font-family: $body-font-family;
		padding-bottom: .725rem;
	}

	.cs-links {
		color: $near-black;
		font-size: 1rem;
		padding: .5rem 0 0;
	}

	.sm-link {
		padding-bottom: 1rem;

		.sm-icon {
			transition: .3s ease-in;
		}

		.see-icon {
			opacity: 0;
			position: fixed;
			margin-left: -1rem;
			transition: .3s ease-in;
		}

		&:hover {
			.sm-icon {
				animation-name: spin-out;
				animation-duration: .6s;
				animation-iteration-count: 1;
				animation-timing-function: linear;
				animation-fill-mode: forwards;
				animation-play-state: running;
				transition: .3s ease-in;
			}

			.see-icon {
				animation-name: spin-in;
				animation-duration: .6s;
				animation-delay: .2s;
				animation-iteration-count: 1;
				animation-timing-function: linear;
				animation-fill-mode: forwards;
				animation-play-state: running;
				transition: .3s ease-in;
			}
		}
	}

	.first.icon {
		padding-top: .25rem;
	}

	.icon {
		padding-top: .25rem;
		font-size: 1rem;
	}

	.desc {
		color: $near-black;
	}

	.footer {
		position: fixed;
		bottom: 10px;
		width: 100%;
		font-size: .6875rem;

		a {
			color: #222;
			text-decoration: underline;

		}
	}
}

@keyframes spin-out {
	0% {
		opacity: 1;
		transform: rotateY(0);
	}

	100% {
		opacity: 0;
		transform: rotateY(540deg);
	}
}

@keyframes spin-in {
	0% {
		opacity: 0;
		transform: rotateY(540deg);
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
	}
}

@media only screen and (max-width: 40em) and (orientation: landscape) {

	.main-cs {
		padding: .5rem 0 0;

		h1 {
			font-size: 1.725rem;
			margin-bottom: .2rem;
		}

		.tt {
			display: none;
		}

		.cs-links {
			font-size: .875rem;
			padding: .5rem 0 0;
		}

		.first.icon {
			padding-top: .125rem !important;
		}

		.icon {
			padding-top: .5rem;
			font-size: 1rem;
		}

		.sm-list.left {
			margin-left: -25%;
		}

		.sm-list.second {
			position: fixed;
			margin-left: 25%;
		}

		.sm-link {
			.see-icon {
				margin-left: -1rem;
			}
		}
	}
}

@media only screen and (min-width: 40.063em) {
	.main-cs {
		padding: 3rem 0 0;

		.sub {
			margin-right: -12px;
		}

		img {
			display: inline-block;
			transition: .3s ease-out;

			&:hover {
				transform: translateY(-2px);
			}
		}

		.tt {
			padding-bottom: 0;
		}

		.cs-links {
			font-size: 1.125rem;
			padding: 1rem 0 0;
		}

		.sm-link {
			padding-bottom: 0;

			.see-icon {
				margin-left: -3.25rem;
			}
		}

		.first.icon {
			padding-top: 1rem;
		}

		.icon {
			font-size: 3.5rem;
			padding-top: 3rem;
		}
	}
}

@media only screen and (min-width: 64.063em) {
	.main-cs {

		.cs-heading {
			border-radius: 8px;
		}

		.cs-links {
			font-size: 1.75rem;
			padding: 2.5rem 0 0;
		}

		.sm-link {
			.see-icon {
				margin-left: -3.25rem;
			}
		}
	}
}

// Landing Area

#landing {
	width: 100%;
	height: 700px;
	background-image: url('http://lorempixel.com/800/800/nightlife');
	background-position: fixed;
	background-size: cover;
	opacity: 1;

	.row {
		height: 100%;
	}

	.btn-row {
		position: fixed;
		bottom: 5%;
		height: 14%;
		max-width: 100%;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.overlay:after {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAHUlEQVQIW2NkYGD4D8SM6DRIAAQwJDFUwhRRUQcALRkSBISGlPAAAAAASUVORK5CYII=') repeat top left;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
	right: 0;
	left: 0;
	opacity: .4;
}

#pre-row {
	opacity: 1;
	text-rendering: optimizeLegibility;
	transform: translateZ(0);
	transition: all 1s;
}

@mixin landing() {
	font-family: $style-font-family;
	font-size: 1.625rem;
	font-weight: 400;
	line-height: 1.33;
	color: $white;
	height: 40%;
	padding: 6% 5%;
}

#menu-para {
	@include landing();
	text-align: left;

	span {
		background: $near-black;

	}

	a {
		color: $white;
	}
}

.ready-style {
	opacity: 1 !important;
	transition: .6s;
}

.link-style {
	color: $primary-color !important;
	font-style: italic;
}

#resume-area {
	font-style: italic;
	text-align: center;

	span {
		background: $near-black;
	}

	a {

		& > i.fa-file-o {
			float: left;
			font-size: 180px;
			width: 48%;
			transform: translateZ(0);
			transition: all .6s;
			opacity: .6;

			& > i {
				opacity: 0;
				position: fixed;
				left: 30%;
				top: 38%;
				font-size: 6rem;
			}
	}

		#dwnld-link {
			@include landing();
			float: left;
			width: 48%;
			padding: 10% 5% 0 0;
			margin-left: 4%;
		}

		&:hover,
		&:focus {
			color: $primary-color;

			& > i.fa-file-o {
				opacity: 1;
			}
		}
	}
}

#scroll-wrap {
	float: none;
}

.loading-page {
	float: left;
	text-align: center;
	margin: -10px 0 10px;
	color: $white;
	width: 100%;
	transition: opacity .2s ease-out, transform 1s;
}

.loading-status {
	display: block;
	color: $white;
	font-style: italic;
	text-align: center;
	transition: opacity .2s ease-out, transform 1s;
}

.l-content,
.l-projects,
.l-dinosaurs,
.l-leprechauns,
.l-unicorns {
	display: block !important;
	opacity: 0;
	transition: all .3s ease-out;
}

.l-start.show,
.l-content.show,
.l-projects.show,
.l-dinosaurs.show,
.l-leprechauns.show {
	opacity: 1;
	transition: all .3s ease-in;
}

.l-start.exit,
.l-content.exit,
.l-projects.exit,
.l-dinosaurs.exit,
.l-leprechauns.exit {
	opacity: 0;
	display: none !important;
}

.loading-page.exit,
.loading-status.exit {
	transform: translateY(-500px);
	opacity: 0;
}

#scroll-main {
	min-width: 100%;
	opacity: 0;
	margin: 0;
	float: none;
	font-style: italic;
	font-size: 1.5rem;
	text-shadow: 0 0 .07em rgba(255, 255, 255, .5);
	background: $near-black;
	box-shadow: 0 0 1px $invisible;
	transform: translateZ(0);
	transition: all .3s;

	&:hover,
	&:focus {
		color: $primary-color;
		transform: translateY(-5px);
	}
}

.ready-bounce {
	transform: translateY(-10px) !important;
}

@media only screen and (min-width: 40.063em) {
	#landing {
		background-image: url('http://lorempixel.com/1100/1000/nightlife');
		background-position: fixed;
		background-size: cover;
	}

	@mixin m-landing() {
		font-family: $style-font-family;
		font-size: 2rem;
		font-weight: 400;
		line-height: 2.65rem;
		color: $white;
		height: 80%;
		padding: 10% 2%;
	}

	#menu-para {
		@include m-landing();
	}

	#resume-area {
		@include m-landing();
		a {
			#dwnld-link {
				@include m-landing();
				padding: 10% 0 0;
			}
		}
	}
}

// min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
	#landing {
		background-image: url('http://lorempixel.com/1600/1000/nightlife');
		background-position: fixed;
		background-size: cover;
	}

	@mixin l-landing() {
		font-family: $style-font-family;
		font-size: 2.5rem;
		font-weight: 400;
		line-height: 3.3rem;
		color: $white;
		height: 80%;
		padding: 6% 1%;
	}

	#menu-para {
		@include l-landing();
		.rbrk {
			display: block !important;
		}
	}

	#resume-area {
		@include l-landing();
		a {
			padding: 0 auto;

			& > i.fa-file-o {
				font-size: 210px;
				padding-left: 14%;

				& > i {
					position: fixed;
					left: 46%;
					top: 34%;
					font-size: 8rem;
					transform: translateZ(0);
					transition: all .6s;
				}
			}

			#dwnld-link {
				@include l-landing();
				padding: 10% 0 0;
			}

			&:hover,
			&:focus {
				& > i {
					& > i {
						opacity: 1;
						animation: flip-in-x 1s;
					}
				}
			}
		}
	}
}

@keyframes flip-in-x {
	0% {transform: perspective(400px) rotateX(90deg); opacity: .5;}

	40% {transform: perspective(400px) rotateX(-10deg);}

	70% {transform: perspective(400px) rotateX(10deg);}

	100% {transform: perspective(400px) rotateX(0); opacity: 1;}
}

// Menu Bar

$button-size : 1.5rem;
$transition: .3s; // increase this to see the transformations in slow-motion
$color: $white;

.joyride-tip-guide {
	margin-top: 3px;
	margin-left: 6px;

	.joyride-nub {
		left: 92%;
	}
}

.joyride-content-wrapper .button {
	background: rgba(0, 0, 0, .5) !important;
	transition: all .3s !important;

	&:hover,
	&:focus {
		background: rgba(0, 0, 0, .5) !important;
		transform: translateY(-2px) !important;
	}
}

@media only screen and (min-width: 40.063em) {
	.joyride-tip-guide {
		margin-left: -209px;

		.joyride-nub {
			left: 222px;
		}
	}
}

nav.tab-bar {
	background: $primary-color;
	border-bottom: 1px solid $color;

	.title > span {
		margin-left: -8000px;
	}
}

.ak-logo {
	width: 73px;
	height: 49px;
	float: left;
	margin-top: -.2%;
	margin-left: 46%;
	transition: all .3s;

	&:hover {
		transform: translateY(3px);
	}
}

.no-bg {
	background: $invisible !important;
	border-bottom: 0 !important;
}

.fixed-top {
	position: fixed !important;
	width: 100%;
	top: -45px;
	opacity: 0;
	z-index: 100;
	transform: translateZ(0);
	transition: all .3s;
}

.show-top {
	opacity: 1;
	transform: translateY(45px);
	transition: all .3s;
}

.hide-top {
	opacity: 0;
	transform: translateY(-45px);
	transition: all .3s;
}

section.right-small {
	border-left: solid 1px $invisible;
	box-shadow: none;
	margin-top: -4px;
}

.right-small button {
	margin: 0;
}

.lines-button {
	cursor: pointer;
	display: inline-block;
	padding: 0 .6rem;
	transition: .3s;
	user-select: none;
	border-radius: 0;
	background: $invisible;

	&:hover {
		background: $invisible;
		opacity: 1;
	}

	&:active,
	&:focus {
		background: $invisible;
		transition: 0;
	}
}

@mixin line {
	display: inline-block;
	width: $button-size;
	height: $button-size/7;
	background: $color;
	border-radius: 0;
	transition: $transition;
}

.lines {

	//create middle line
	@include line;
	position: relative;

	// Create the upper and lower lines as pseudo-elements of the middle line
	&:before,
	&:after {

	 @include line;
		position: absolute;
		left: 0;
		content: '';
		transform-origin: 50% 50%;
		transform: translateY(0) translateZ(0);
		transition: top .3s .6s ease, transform .3s ease;
	}

	&:before {
		top: $button-size/4;
	}

	&:after {
		top: -$button-size/4;
	}
}

.lines-button .lines {
	transition: background .3s .6s ease;
}

.lines-button:hover {
	opacity: 1;

	.lines {

		&:before {
			transform: translateY(2px);
		}

		&:after {
			transform: translateY(-2px);
		}
	}
}

.lines-button.close .lines {

	transition: background .3s 0 ease;
	background: transparent;

	&:before,
	&:after {
		transition: top .3s ease, transform .3s .5s ease;
		top: 0;
		transform: translateY(0);
		width: $button-size;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}
}

@media only screen and (min-width: 40.063em) {
	.ak-logo {
		margin-left: 0;
	}
}

// Full Menu & Partial Footer Menu Styles

.menu-full {
	width: 256px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 9rem;
	opacity: 0;
	transform: translateY(-500px);
	transition: opacity .6s .1s, transform .3s;

	li {
		font-family: $style-font-family;
		font-size: $h2-font-size;
		font-weight: 700;
		padding-bottom: 20px;
		text-rendering: optimizeLegibility;
	}

	a {
		color: $color;
	}

	span {
		float: right;
		width: 64%;
	}

	.fa-building-o,
	.fa-user {
		margin-left: 10%;
	}

	.fa-keyboard-o {
		margin-left: 8.5%;
	}
}

.fa-sun-o,
.fa-moon-o,
.fa-gamepad,
.fa-rocket,
.fa-pencil,
.fa-thumbs-o-up {
	opacity: 0;
	position: fixed;
	margin: -10px 11px 0 -27px;
	font-size: 1rem;
	transform: translateX(-20px);
}

.menu-full a:hover {
	opacity: .6;

	span {
		opacity: .6;
	}

	.fa-sun-o,
	.fa-gamepad,
	.fa-pencil {
		animation-name: float;
		animation-duration: 400ms;
		animation-iteration-count: 1;
		animation-timing-function: linear;
	}

	.fa-moon-o,
	.fa-rocket,
	.fa-thumbs-o-up {
		animation-name: float;
		animation-duration: 400ms;
		animation-delay: 300ms;
		animation-iteration-count: 1;
		animation-timing-function: linear;
	}
}

.show-main-menu {
	transform: translateY(0);
}

.show-f {
	opacity: 1 !important;
	animation-play-state: running !important;
}

.hide-sumo {
	animation-play-state: paused !important;
	animation: off .1s infinite !important;
}

@keyframes off {

	0% { opacity: 0; }

	100% { opacity: 0; }
}

@keyframes float {
	0% { transform: translateX(-30px) translateY(1px); opacity: 0; }

	25% { transform: translateX(-15px) translateY(-3px); opacity: .5; }

	50% { transform: translateX(0) translateY(-5px); opacity: 1; }

	75% { transform: translateX(15px) translateY(-3px); opacity: .5; }

	100% { transform: translateX(30px) translateY(1px); opacity: 0; }
}

#f-firesm {
	margin: 0;
	opacity: 0;
	position: fixed;
	top: -6px;
	left: 26px;
	font-size: 1.125rem;
	transform: translateY(0);
	animation-name: fire-sm;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	animation-play-state: paused;
}

#f-firebg {
	margin: 0;
	opacity: 0;
	position: fixed;
	top: -16px;
	left: 32px;
	font-size: 1.825rem;
	transform: scale(-1, 1) translateY(0);
	animation-name: fire-bg;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	animation-play-state: paused;
}

@keyframes fire-sm {
	0% { transform: rotateY(0) translateY(1px); }

	50% { transform: rotateY(-180deg) translateY(0); }

	100% { transform: rotateY(-360deg) translateY(1px); }
}

@keyframes fire-bg {
	0% { transform: rotateY(180deg) translateY(0); }

	50% { transform: rotateY(0) translateY(1px); }

	100% { transform: rotateY(180deg) translateY(0);}
}

#f-bulb {
	margin: 0;
	opacity: 0;
	position: fixed;
	top: 60px;
	left: 32px;
	font-size: 1.825rem;
	transform: translateY(2px);
	animation-name: bulb-glow;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	animation-play-state: paused;
}

@keyframes bulb-glow {
	0% { transform: translateY(2px); }

	50% { transform: translateY(-2px); }

	100% { transform: translateY(2px); }
}

#f-flash {
	margin: 0;
	opacity: 0;
	position: fixed;
	top: 140px;
	left: 36px;
	font-size: 1.825rem;
	animation-name: flash-on;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	animation-play-state: paused;
}

@keyframes flash-on {
	0% { transform: translateY(2px); }

	50% { transform: translateY(-2px); }

	100% { transform: translateY(2px); }
}

@media only screen and (min-width: 40.063em) {
	.menu-full {
		margin-top: 8rem;
	}
}

// Content & iScroll Wrapper

#wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #ccc;
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: $invisible;
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
}

// Off Canvas Wrap

.off-canvas-wrap {
	transform: translateZ(0);
	overflow-x: visible;
	box-shadow: 0 -1px 30px rgba(0, 0, 0, .6);
}

// Inner Wrap

.move-left>.inner-wrap {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.move-left a.exit-off-canvas {
	background: $primary-color;
	opacity: 1;
	transition: all .6s;
	margin-bottom: -1000px;

	&:hover {
		cursor: url('../img/close.svg'), auto;
		background: $primary-color;
		opacity: .8;
		transition: all .6s;
	}
}

.exit-fade {
	background: $primary-color !important;
	opacity: 0 !important;
}

// Main Section

.main-section {
	background: url('../img/geometry.png') repeat;
	padding-left: 20px;
	padding-right: 20px;
}

.heading h2 > span {
	background: $near-white;
}

.heading p {
	font-size: 1.425rem;
	font-weight: 400;
	color: $white;
	line-height: 2.05rem;
	padding-bottom: 30px;

	.italic {
		font-style: italic;
	}

	& > span {
		background: $primary-color;

		& > a {
			color: $near-white;

			&:hover {
				color: $white;
			}
		}

		.rbrk {
			display: none;
		}

		.rprd {
			display: inline-block;
		}
	}
}

@media only screen and (min-width: 40.063em) {
	.heading p {
		font-size: 1.625rem;
		font-weight: 400;
		line-height: 2.34rem;
		padding-bottom: 50px;

		& > span {

			.rbrk {
				display: inline-block;
			}

			.rprd {
				display: none;
			}
		}
	}
}

// Work

.work {
	padding-top: 150px;
	height: 1050px;

	del {
		color: scale-color($white, $lightness: -35%);
	}

	.heading p {
		padding-bottom: 10px;
	}

	.button-group li {
		margin: 0;
		width: 100%;
		float: none;

		a {
			font-size: 1.5rem;
			background: $near-black;
			box-shadow: 0 0 1px $invisible;
		}
	}

	.button-group li {

		.button {
			width: 50%;
			transition: .3s;

			&:hover {
				color: $primary-color;
			}
		}

		&:first-child .button {
			float: left;
		}
	}
}

.portfolio {
	margin: 0;
	list-style: none;

	.owl-wrapper {
		padding: 20px 0;
		background: $near-white;
	}

	.work-thumbs {
		padding: 0 10px;

		.overlay {
			h2 {
				position: relative;
				z-index: 1;
			}

			p {
				color: $color;
				position: relative;
				z-index: 1;
			}

			&:after {
				margin-left: 10px;
				margin-right: 10px;
				opacity: .2;
			}
		}
	}

	.see-more {
		z-index: 1;
		background: $near-black;
		box-shadow: 0 0 1px $invisible;
		transform: translateZ(0);
		transition: all .3s ease-out;

		& > span {
			transition: all .3s ease-out;
		}

		.fa {
			opacity: 0;
			position: fixed;
			top: 50%;
			left: 42%;
			font-size: 1.25rem;
			transition: all .3s ease-out;
		}

		&:hover,
		&:focus {
			background: $near-black;
			transform: translateY(-5px);

			& > span {
				opacity: 0;
				transform: translateY(10px);
			}

			.fa {
				opacity: 1;
				color: $primary-color;
				transform: translateY(-10px);
			}
		}
	}
}

.custom-navigation {
	margin-top: 10px;
	text-align: center;
	display: none;
}

//	Use styles below to disable ugly selection
.custom-navigation a {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: $invisible;
}

.project-wrapper {
	display: none;
}

.pw-left {
	width: 10px;
	margin-top: 20px;
	float: left;
	background-color: rgba(240, 240, 240, .6);
}

.pw-right {
	width: 10px;
	margin-top: 20px;
	right: 20px;
	position: fixed;
	background: rgba(240, 240, 240, .6);
}

.work-wrap {
	padding: 20px 0;
	overflow: hidden;
	display: none;
	background: $near-white;
	margin-top: 20px;
}

.project-close {
	position: fixed;
	right: 40px;
	margin-top: -44px;
	width: 60px;
	padding: 10px;
	background: $near-black;
	color: $white;
	text-align: center;
	z-index: 99;
}

.guts {
	width: 3600px;
	height: 500px;
	max-height: 650px;

	.project-img,
	.landing-img,
	.project-content {
		width: 600px;
		height: 100%;
		float: left;
		background-color: #fafafa;
		overflow: hidden;
	}

	.landing-content-wrap {
		padding: 20px;
		padding-bottom: 0;
		height: 100%;

		p {
			color: $white;
		}

		.project-description {
			width: 280px;
			position: fixed;
			bottom: 6%;
			line-height: 1.46;
			text-align: justify;
		}

		span {
			background: $near-black;
			padding: 0 2px;
		}
	}

	.project-img,
	.landing-img {
		background-position: center;
		background-size: cover;
	}

	.project-content {
		padding: 20px;
		max-width: 600px;
		text-align: justify;

		h2,
		p {
			padding: 0 20px;
		}
	}

	.pc-last {
		h2,
		p {
			padding: 0 0 0 20px;
		}
	}
}

@media only screen and (min-width: 40.063em) {
	.work {
		height: 1140px;
	}

	.custom-navigation {
		display: block;
	}

	.work-wrap,
	.pw-left,
	.pw-right {
		margin-top: 0;
	}

	.guts {
		.landing-content-wrap {
			.project-scope {
				font-size: 1.375rem;
			}

			.project-description {
				width: 400px;
			}

			.project-content {
				h2,
				p {
					padding: 0;
				}
			}
		}
	}
}

@media only screen and (min-width: 64.063em) {
	.work {
		height: 950px;

		.heading p {
			padding-bottom: 20px;
		}
	}

	.portfolio {

		.work-thumbs {

			.overlay {
				opacity: 0;
				position: fixed;
				top: 0;
				left: 10px;
				width: 95%;
				height: 100%;
				padding-top: 10px;
				transition: all .3s;

				&:after {
					margin-left: 0;
					margin-right: 0;
					opacity: .4;
				}

				h2 {
					transition: all .3s;

					span {
						background: $near-black;
						padding: 0 2px;
					}
				}

				p {
					font-size: 1.375rem;
					transition: all .3s;

					span {
						background: $near-black;
						padding: 0 2px;
					}
				}

				a {
					font-size: 1.5rem;
					position: fixed;
					bottom: 0;
				}

				&:hover,
				&:focus {
					opacity: 1;

					h2,
					p {
						transform: translateY(2px);
					}
				}
			}

			.see-more {
				.fa {
					top: 40%;
					font-size: 2rem;
				}
			}
		}
	}
}

// About

.about {
	padding-top: 100px;
	height: 1100px;
}

.about-table-wrap {
	.owl-wrapper-outer {
		background: $near-white;
	}
}

.about-sections {
	padding-left: 0;
	padding-right: 0;

	.about-table {
		@include pricing-table-container;

		.title {
			@include pricing-table-title;
			font-family: $style-font-family;
			font-style: $style-font-style;
		}

		.one-word {
			@include pricing-table-price;
		}

		.description {
			@include pricing-table-description;
			background: $near-white;
			color: $primary-color;
			font-weight: 700;
		}

		.bullet-item {
			@include pricing-table-bullet;
			background: none;
			font-size: 1rem;
			line-height: 1.4rem;

			.has-tip {
				font-style: italic;
				border-bottom-style: dashed;

				&:hover {
					border-bottom-style: dashed;
				}
			}
		}

		.check-it-out {
			@include pricing-table-cta;
		}
	}
}

.tooltip {
	opacity: .9;
}

.tooltip>.nub {
	border-color: transparent transparent scale-color($primary-color, $lightness: 10%) transparent !important;
	opacity: .9;
}

@media only screen and (min-width: 64.063em) {
	.about-table-wrap {
		.owl-wrapper-outer {
			background: none;
		}

		.owl-item {
			width: 50% !important;
		}
	}

	.tech-skills-table {
		margin-top: -2.825rem;
	}
}

// Contact

.contact {
	padding-top: 100px;
	height: 1140px;

	.btn {
		padding-top: 1.0625rem;
		padding-bottom: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;
		background: none;
		color: $near-black;
	}
}

fieldset legend {
	background: none;
}

// Footer

footer {
	background: $primary-color;
	height: 320px;
	width: 120%;
	margin-left: -10%;
}

.footer-wrap {
	padding: 0 30px;
}

.links-footer {
	padding-top: 30px;

	a {
		color: $color;
		text-decoration: underline;
	}

	.contact-item > a {
		color: #222;
	}

	.area-title {
		color: $color;
	}

	.copyright {
		font-weight: 300;
		font-size: .75rem;
		font-style: italic;
	}
}

.menu-footer {
	padding-top: 50px;
	transition: opacity .6s;

	.menu-list {
		width: 60%;
		margin: 0 auto;
	}

	li {
		font-family: $style-font-family;
		font-size: $h2-font-size;
		font-weight: 700;
		padding-bottom: 20px;
		text-rendering: optimizeLegibility;
	}

	a {
		color: $color;
	}

	span {
		display: none;
		float: right;
		width: 64%;
	}

	.fa-building-o,
	.fa-user {
		margin-left: 10%;
	}

	.fa-keyboard-o {
		margin-left: 8.5%;
	}
}

.invis {
	opacity: 0;
}

.menu-footer a:hover {
	opacity: .6;

	span {
		opacity: .6;
	}

	.fa-sun-o,
	.fa-gamepad,
	.fa-pencil {
		animation-name: float;
		animation-duration: 400ms;
		animation-iteration-count: 1;
		animation-timing-function: linear;
	}

	.fa-moon-o,
	.fa-rocket,
	.fa-thumbs-o-up {
		animation-name: float;
		animation-duration: 400ms;
		animation-delay: 300ms;
		animation-iteration-count: 1;
		animation-timing-function: linear;
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 64.063em) {
	.footer-wrap {
		padding: 0 60px;
	}

	.menu-footer {
		span {
			display: block;
		}
	}
}

@media only screen and (min-width: 64.063em) {
	.links-footer {
		padding-top: 50px;
	}

	.footer-wrap {
		padding: 0;
	}

	.menu-footer {
		span {
			display: block;
		}
	}
}
