*.DS_Store
/assets/img
.bowerrc
/.tmp
/assets/sftp-config.json
bower.json
/assets
public/build/sftp-config.json
/node_modules/*
/tmp/*
portfolio.sublime-project
portfolio.sublime-workspace
/bower_components/*
old.html
